<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/assets/css/dashboard.css">
    <!-- <link rel="stylesheet" href="/assets/css/css/style.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="dashboard-container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="logo"><img src="/assets/imgs/logo.png"></div>
            <ul class="sidebar-menu">
                <li class="active"><a href="#">Dashboard</a></li>
                <li><a href="/admin/products">Products</a></li>
                <li><a href="/admin/orders">Order Lists</a></li>
                <li><a href="/admin/users">Users</a></li>
                <li><a href="/admin/sales-report">Sales Report</a></li>
                <li><a href="/admin/coupons">Coupons</a></li>
                <li><a href="/admin/category">Category</a></li>
                <li><a href="/admin/banner">Banner Management</a></li>
                <li><a href="/admin/offers">Offers</a></li>
                <li><a href="/admin/brands">Brands</a></li>
                <li><a href="/admin/settings">Settings</a></li>
                <li><a href="/admin/logout">Logout</a></li>
            </ul>
        </aside>
    </div>
</body>

</html>